@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --default-font-family: "Inter", "sans-serif";
    --color-blue: rgba(20, 55, 90, 1);
    --color-accent: rgba(255, 114, 81, 1);
    --color-secondary: rgba(168, 180, 197, 1);
}

@layer components {
    html {
        @apply text-white;
        @apply bg-blue;
    }
    
    h1, h2 {
        font-family: "EB Garamond", serif;
    }

    .zoomable-img {
        @apply cursor-zoom-in;
        @apply transition-transform;
    }

    .zoom-overlay {
        @apply fixed;
        @apply inset-0;
        @apply flex;
        @apply justify-center;
        @apply items-center;
        @apply opacity-0;
        @apply pointer-events-none;
        @apply z-50;
        @apply transition-opacity;
        @apply bg-black/80;
    }

    .zoom-overlay img {
        @apply min-w-0;
        @apply sm:min-w-lg;
        @apply max-w-[90%];
        @apply max-h-[90%];
    }

    .zoom-overlay.active {
        @apply opacity-100;
        @apply pointer-events-auto;
    }

    .zoom-overlay.active img {
        @apply cursor-auto;
    }

    .dot-box::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: radial-gradient(circle, rgba(168, 180, 197, 1) 0.15vw, transparent 0px);
        background-size: 2vw 2vw;
        opacity: 40%;
        pointer-events: none;
        transition: --opacity 0.3s ease;
        mask-image: radial-gradient(
            circle 50vw at 20% 50%,
            black 0%,
            transparent 100%
        );
    }

    .dot-box::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;   
        background-image: radial-gradient(circle, rgba(168, 180, 197, 1) 0.15vw, transparent 0px);
        background-size: 2vw 2vw;
        opacity: var(--opacity, 0   );
        pointer-events: none;
        mask-image: radial-gradient(
            circle 20vw at var(--mouse-x, 50%) var(--mouse-y, 50%),
            black 0%,
            transparent 100%
        ),
        radial-gradient(
            circle 50vw at 25% 50%,
            black 0%,
            transparent 100%
        );
        transition: opacity 0.3s ease;
        mask-composite: subtract;
    }

    .dot-box > * {
        position: relative;
        z-index: 1;
    }
}

@layer utilities {
    .prose {
        * {
            margin-top: 0.1rem;
            margin-bottom: 0.1rem;
            --tw-prose-links: var(--color-accent);
        }

        p {
            text-wrap: pretty;
        }

        .img-container {
            @apply flex;
            @apply flex-col;
            @apply items-center;
        }

        tr, thead {
            --tw-prose-td-borders: var(--color-neutral-400);
            --tw-prose-th-borders: var(--color-white);
        }

        .img-container p {
            @apply text-center;
            @apply m-0;
            @apply text-sm;
            @apply items-baseline;
            @apply gap-1;
        }

        img {
            @apply max-w-full;
            @apply h-auto;
            @apply max-h-96;
            @apply px-5;
            @apply md:px-0;
            @apply object-scale-down
        }

        code::before {
            content: "";
        }

        code::after {
            content: "";
        }
    }
}