@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
    font-family: "SF Pro";
    src: url('/fonts/SF Pro Text Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "SF Pro Display";
    src: url('/fonts/SF Pro Display Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "SF Pro Display";
    src: url('/fonts/SF Pro Display Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@theme {
    --default-font-family: "SF Pro", "sans-serif";
    --drop-shadow-2xl: 0 25px 15px rgb(255, 255, 255, 0.5);
}

@layer components {
    h1, h2 {
        font-family: "SF Pro Display";
    }

    .accent {
        @apply text-transparent;
        @apply bg-clip-text;
        @apply bg-gradient-to-r;
        @apply from-violet-500;
        @apply to-fuchsia-500;
    }
}

@layer utilities {
    .prose {
        * {
            margin-top: 0.1rem;
            margin-bottom: 0.1rem;
        }

        p {
            text-wrap: pretty;
        }

        p:has(img) {
            @apply flex;
            @apply flex-col;
            @apply items-center;
        }

        tr, thead {
            --tw-prose-td-borders: var(--color-neutral-400);
            --tw-prose-th-borders: var(--color-white);
        }

        img + em {
            @apply text-center;
            @apply m-0;
            @apply text-sm;
            @apply items-baseline;
            @apply gap-1;
        }

        img {
            @apply max-w-lg
        }

        code::before {
            content: "";
        }

        code::after {
            content: "";
        }
    }
}