@import "tailwindcss";

@font-face {
    font-family: "SF Pro";
    src: url('/fonts/SF Pro Text Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url('/fonts/SF Pro Display Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url('/fonts/SF Pro Display Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@theme {
    --default-font-family: "SF Pro", "sans-serif";
    --drop-shadow-2xl: 0 25px 15px rgb(255, 255, 255, 0.5);
}

@layer components {
    h1, h2 {
        font-family: "SF Pro Display";
    }
}