---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/footer.astro";
import BlogPost from "../../components/blog-post.astro";

export async function getStaticPaths() {
    const allPosts = Object.values(import.meta.glob('../posts/*.mdx', { eager: true }));
    const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={"Isaac Marovitz - " + tag} snapping={false}>
    <main class="flex justify-center">
        <div class="flex flex-col min-h-screen min-w-0 max-w-4xl grow text-white">
            <div class="flex flex-col max-[1400px]:px-5 grow">
                <div class="flex flex-col items-start text-left pt-10 gap-3">
                    <a href="/" class="flex flex-row self-end items-center gap-2 back hover:scale-110 transition-transform backdrop-blur-md bg-stone-900/60 rounded-xl p-2 drop-shadow-sm">
                        <i class="fa-solid fa-home"></i>
                        <p>Home</p>
                    </a>
                    <div class="flex flex-col gap-2">
                        <h1 class="text-white">Blog Posts with "{tag}"</h1>
                    </div>  
                </div>
                <div class="py-5">
                    <hr class="text-white"/>
                </div>
                <ul class="flex flex-col gap-5 text-white items-start">
                    { posts.map((post: any) => 
                        <li>
                            <BlogPost post={post} />
                        </li>
                    )}
                </ul>
                <div class="grow" />
                <Footer />
            </div>
        </div>
    </main>
</Layout>

<style>
    @reference "tailwindcss";
    
    h1 {
        @apply font-extrabold;
        @apply text-2xl;
        @apply sm:text-5xl;
        @apply lg:text-5xl;
    }
</style>
