---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import Perspective from "../components/perspective.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }))
    .sort((a: any, b: any) => {
        return new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime();
    });

const options: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
    day: "numeric",
    timeZone: "UTC"
}
---

<Layout title="Isaac Marovitz - Blog" snapping={false}>
    <main class="flex justify-center">
        <div class="flex flex-col min-h-screen min-w-0 max-w-4xl grow text-white">
            <div class="max-[1400px]:px-5 grow">
                <div class="flex flex-col items-start text-left pt-10 gap-3">
                    <a href="/" class="flex flex-row self-end items-center gap-2 back hover:scale-110 transition-transform backdrop-blur-md bg-stone-900/60 rounded-xl p-2 drop-shadow-sm">
                        <i class="fa-solid fa-home"></i>
                        <p>Home</p>
                    </a>
                    <div class="flex flex-col gap-2">
                        <h1 class="text-white">Blog Posts</h1>
                    </div>  
                </div>
                <div class="py-5">
                    <hr class="text-white"/>
                </div>
                <ul class="flex flex-col gap-5 text-white items-start">
                    { allPosts.map((post: any) => 
                        <li>
                            <a href={post.url}>
                                <Perspective>
                                    <div class="transform-3d">
                                        <h2 class="accent to-30%">{post.frontmatter.title}</h2>
                                        <p>{post.frontmatter.description}</p>
                                        <p class="date">{new Date(post.frontmatter.pubDate.toString())
                                                    .toLocaleDateString("en-GB", options)}</p>
                                    </div>
                                </Perspective>
                            </a>
                        </li>
                    )}
                </ul>
            </div>
            <Footer />
        </div>
    </main>
</Layout>

<style>
    @reference "tailwindcss";
    
    h1 {
        @apply font-extrabold;
        @apply text-2xl;
        @apply sm:text-5xl;
        @apply lg:text-5xl;
    }

    h2 {
        @apply font-extrabold;
        @apply text-xl;
        @apply sm:text-3xl;
        @apply lg:text-3xl;
    }

    li .date {
        @apply text-white/60;
    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
</style>