---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/project-card.astro';
---

<Layout title="Isaac Marovitz">
	<main>
		<div class="h-screen flex items-center justify-center">
			<div class="flex flex-col transition duration-300 hover:ease-in-out bg-stone-900 hover:bg-gradient-to-br from-stone-800 to-stone-900 text-white rounded-xl p-10 drop-shadow-md hover:drop-shadow-xl hover:scale-105">
				<h1 class="text-center font-extrabold text-8xl pb-3">Coming Soon...</h1>
				<p class="text-center font-bold text-3xl">Back and <i class="pl-1 text-transparent bg-clip-text bg-gradient-to-r from-violet-500 to-fuchsia-500">better than ever</i></p>
			</div>
		</div>
		<ProjectCard 
			name="PlayCover" 
			description="A macOS app that allows you to run iOS apps and games through Mac Catalyst. PlayCover also extends Catalyst with additional features such as device ID spoofing, keymapping, and resolution control." 
			link="https://github.com/PlayCover/PlayCover"
			image_path="./playcover.png"
			flipped={false} />
		<ProjectCard 
			name="Ryujinx" 
			description="A modern Nintendo Switch emulator built from the ground up in C#. Ryujinx achieves impecable compatability while maintaining modern and readable code." 
			link="https://github.com/Ryujinx/Ryujinx"
			image_path="./ryujinx.png"
			flipped={true} />
	</main>
</Layout>