---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Coming soon...">
	<main>
		<div class="h-screen flex items-center justify-center">
			<div class="flex flex-col transition duration-300 hover:ease-in-out bg-stone-900 hover:bg-gradient-to-br from-stone-800 to-stone-900 text-white rounded-xl p-10 drop-shadow-md hover:drop-shadow-xl hover:scale-105">
				<h1 class="text-center font-extrabold text-8xl pb-3">Coming Soon...</h1>
				<p class="text-center font-bold text-3xl">Back and <i class="pl-1 text-transparent bg-clip-text bg-gradient-to-r from-violet-500 to-fuchsia-500">better than ever</i></p>
			</div>
		</div>
	</main>
</Layout>