---
import { Image } from 'astro:assets';
import Godot from '../images/godot.svg';
---

<div class="h-screen flex flex-col md:flex-row items-center justify-center md:justify-between px-10 sm:snap-center gap-5">
    <div class="flex">
        <div class="backdrop-blur-md bg-stone-900/60 rounded-md sm:rounded-xl p-10 drop-shadow-md text-white">
            <div class="flex">
                <h1 class="text-left font-bold lg:text-4xl md:text-4xl text-3xl text-transparent bg-clip-text bg-gradient-to-r from-violet-500 to-fuchsia-500 pb-0 lg:pb-1 md:pb-1">About</h1>
            </div>
            <p class="text-sm sm:text-base">
                Hi there, I'm Isaac. I'm a <span id="age"></span> year old programmer from London.<br/><br/>
                Computer science has been my number one interest for over ten years.
                I started with web development and moved on to game development for 4 years.
                I then became involved in open-source app development.

                <br><br>

                I'm proficient in Swift, Rust, and C#, and have extensive experience with cross-platform computer graphics infrastructure, including Metal, Vulkan, and DirectX.
            </p>
        </div>
    </div>
    <div class="w-20" />
    <div class="flex flex-col gap-10 md:grow items-end">
        <div class="flex flex-row text-white gap-5 md:gap-10">
            <div class="flex">
                <div class="backdrop-blur-md bg-stone-900/60 w-20 h-20 lg:w-30 lg:h-30 flex items-center justify-center rounded-full p-2 sm:p-5 drop-shadow-md">
                    <i class="text-4xl md:text-5xl lg:text-6xl fa-brands fa-rust"></i>
                </div>
            </div>
            <div class="flex">
                <div class="backdrop-blur-md bg-stone-900/60 w-20 h-20 lg:w-30 lg:h-30 flex items-center justify-center rounded-full p-2 sm:p-5 drop-shadow-md">
                    <i class="text-4xl md:text-5xl lg:text-6xl fa-brands fa-swift"></i>
                </div>
            </div>
            <div class="flex">
                <div class="backdrop-blur-md bg-stone-900/60 w-20 h-20 lg:w-30 lg:h-30 flex items-center justify-center rounded-full p-2 sm:p-5 drop-shadow-md">
                    <Image class="p-3 sm:p-0 lg:p-2 select-none" src={Godot} alt="Godot logo"/>
                </div>
            </div>
        </div>
        <div class="flex flex-row text-white gap-5 md:gap-10">
            <div class="flex">
                <div class="backdrop-blur-md bg-stone-900/60 w-20 h-20 lg:w-30 lg:h-30 flex items-center justify-center rounded-full p-2 sm:p-5 drop-shadow-md">
                    <p class="fa text-xl md:text-2xl lg:text-3xl select-none">C#</p>
                </div>
            </div>
            <div class="flex">
                <div class="backdrop-blur-md bg-stone-900/60 w-20 h-20 lg:w-30 lg:h-30 flex items-center justify-center rounded-full p-2 sm:p-5 drop-shadow-md">
                    <i class="text-4xl md:text-5xl lg:text-6xl fa-brands fa-python"></i>
                </div>
            </div>
            <div class="flex">
                <div class="backdrop-blur-md bg-stone-900/60 w-20 h-20 lg:w-30 lg:h-30 flex items-center justify-center rounded-full p-2 sm:p-5 drop-shadow-md">
                    <i class="text-4xl md:text-5xl lg:text-6xl fa-brands fa-html5"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var birthday = new Date(2006, 5, 16);
    var today = new Date();
    var age = today.getFullYear() - birthday.getFullYear();
    var m = today.getMonth() - birthday.getMonth();
    
    if (m < 0 || (m === 0 && today.getDate() < birthday.getDate())) {
        age--;
    }

    var span = document.getElementById('age');

    if (span != null) {
        span.textContent = age.toString();
    }
</script>