---
import type { CollectionEntry } from "astro:content";
import Perspective from "../components/perspective.astro";

const options: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
    day: "numeric",
    timeZone: "UTC"
}

interface Props {
    post: CollectionEntry<"posts">
}

const { post } = Astro.props;
---

<a href={`/posts/${post.id}`}>
    <Perspective>
        <div class="transform-3d">
            <h2 class="accent to-30%">{post.data.title}</h2>
            <p>{post.data.description}</p>
            <p class="secondary">{new Date(post.data.pubDate.toString())
                        .toLocaleDateString("en-GB", options)}</p>
        </div>
    </Perspective>
</a>

<style>
    @reference "tailwindcss";
    
    h1 {
        @apply font-extrabold;
        @apply text-2xl;
        @apply sm:text-5xl;
        @apply lg:text-5xl;
    }

    h2 {
        @apply font-extrabold;
        @apply text-xl;
        @apply sm:text-3xl;
        @apply lg:text-3xl;
    }
</style>
