---
function getYear() {
    return new Date().getFullYear();
}
---

<div class="text-white text-center p-10 sm:snap-end">
    <p>
        <i class="fa-regular fa-copyright"></i>
        - Isaac Marovitz {getYear()}
    </p>
</div>