---
import { Image } from 'astro:assets';
import NotByAi from '../images/not-by-ai.svg';
---

<div class="text-white text-center py-10 sm:snap-end flex flex-row flex-nowrap justify-between items-center">
    <a href="https://notbyai.fyi">
        <Image src={NotByAi} alt="Written by Human, Not by AI"/>
    </a>
    <p>
        <i class="fa-regular fa-copyright align-text-bottom"></i>
        &ndash; Isaac Marovitz <span id="currentYear"></span>
    </p>
</div>

<script>
    var span = document.getElementById('currentYear');
    
    if (span != null) {
        span.textContent = new Date().getFullYear().toString();
    }
</script>
