---
const {name} = Astro.props;
---

<div class="relative">
    <div class="bottom-0 left-0 w-150 flex flex-col transition duration-300 hover:ease-in-out bg-stone-900 hover:bg-gradient-to-br from-stone-800 to-stone-900 text-white rounded-xl m-20 p-10 drop-shadow-md hover:drop-shadow-xl hover:scale-105">
        <h2 class="text-transparent bg-clip-text bg-gradient-to-r from-violet-500 to-fuchsia-500 font-bold text-3xl text-left">PlayCover</h2>
        <p>A macOS app that allows you to run iOS apps and games through Mac Catalyst. PlayCover also extends Catalyst with additional features such as device ID spoofing, keymapping, and resolution control.</p>
    </div>
    <img class="" src="./playcover.png">
</div>