---
import "../styles/global.css";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="snap-container bg-gradient-to-br from-violet-800 to-fuchsia-800 sm:scroll-smooth sm:snap-y sm:snap-mandatory">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width initial-scale=1.0, viewport-fit=cover" />
		<link rel="icon" href="/favicon.png" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
		<link rel="me" href="https://social.treehouse.systems/@isaacmarovitz" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Hi, I'm Isaac. I'm a developer from London. I code games, apps, and websites." />
		<title>{title}</title>
		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-PT8W8Z8KDR"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-PT8W8Z8KDR');
		</script>
	</head>
	<body class="max-w-[1300px]" style="margin: 0 auto; float: none;">
		<slot />
	</body>
</html>