---
import "../styles/global.css";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width initial-scale=1.0, viewport-fit=cover" />
		<link rel="icon" href="/favicon.png" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
		<link rel="me" href="https://social.treehouse.systems/@isaacmarovitz" />
		<link rel="alternate" type="application/rss+xml" title="Isaac Marovitz - Blog" href={new URL("rss.xml", Astro.site)}/>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="fediverse:creator" content="@isaacmarovitz@treehouse.systems" />
		<meta property="og:locale" content="en_GB" />
		<meta property="og:site_name" content="isaacmarovitz.com" />
		<slot name="meta" />
		<title>{title}</title>
		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-PT8W8Z8KDR"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-PT8W8Z8KDR');
		</script>
		<Font cssVariable="--font-inter" preload />
		<Font cssVariable="--font-garamond" preload />
	</head>
	<body style="margin: 0 auto; float: none;">
		<slot />
	</body>
	<ClientRouter />
</html>
